<link rel="stylesheet" type="text/css" href="/crudUsuario/css/style.css">

   	<section class="py-5 my-5">
		<div class="container">
			<h1 class="mb-5">Configurações</h1>
			<div class="bg-white shadow rounded-lg d-block d-sm-flex">
				<div class="profile-tab-nav border-right">
				
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
							<i class="fa fa-home text-center mr-1"></i> 
							Usuário
						</a>
						<a  href="/principal/" class="nav-link" id="application-tab" data-toggle="pill" role="tab" aria-controls="application" aria-selected="false">
							<i class="fa fa-tv text-center mr-1"></i> 
							Voltar ao Inicio
						</a>
					</div>
				</div>

				<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
						<h3 class="mb-4">Configurações</h3>
						
						 <form action="/atualizar/usuario/{{usuario._id}}" method="post" id="form">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Primeiro Nome</label>
								  	<input value="{{usuario.primeiroNome}}" type="text" class="form-control"  name="nome" >
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Sobrenome</label>
								  	<input value="{{usuario.sobrenome}}"  type="text" class="form-control"name="sobrenome" >
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Email</label>
									<input value="{{usuario.email}}"  type="email" class="form-control" name="email" >
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Telefone</label>
								  	<input value="{{usuario.telefone}}" type="text" class="form-control"  name="telefone" >
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>CPF / CNPJ</label>
								  	<input  value="{{usuario.indentificador}}" type="text" class="form-control" name="indentificador">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								  	<label>Idade</label>
								  	<input value="{{usuario.idade}}"type="text" class="form-control"  name="idade">
								</div>
							</div>
						
							<div class="col-md-12">
								<div class="form-group">
								  	<label>Bio</label>
									<textarea class="form-control" rows="4" name="bio">{{usuario.bio}}</textarea >
								</div>
							</div>
							
						</div>
						<div>
							<button class="btn btn-primary" type="submit" >Atualizar</button>
						</form>
						
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

		
	<script>
    const form = document.getElementById('form')
    form.addEventListener('submit', async (event) => {
        try {
			event.preventDefault()
		   const result = await mostrarAlert()
		   form.submit()
        } catch (error) {
            console.error(error)
        }
    })

	async function mostrarAlert(){

	const result = await Swal.fire(
       'Good job!',
       'Dados do Usuario atualizado com sucesso!',
       'success'
       )
	}
	</script>