<link rel="stylesheet" href="pesquisa/style.css" />
<link rel="stylesheet" href="pesquisa/search-box.css" />

<section>
  <main>
    <div class="content">
      <div class="text">
        <h3>Procure o seu pet pelo nome</h3>
        <!-- Descrição do serviço NotionPet -->
      </div>
    </div>

    <form class="d-flex" role="search" method="get">
      <div class="search-container">
        <label for="search-input" class="search-icon"></label>
        <input
          type="text"
          class="search-input"
          id="search-input"
          name="pesquisar"
          type="submit"   
          placeholder="nome do pet"       
        />

      </div>
    </form>
  </main>

  <div class="responsive-table">
<table class="table my-2 ">
    <tr class="table-warning" >
      <th class="text-center" scope="col">Nome</th>
      <th class="text-center" scope="col">idade</th>
      <th  class="text-center" scope="col">Tipo</th>
      <th class="text-center" scope="col">Raca</th>
      <th class="text-center" scope="col">Remedios</th>
      <th class="text-center" scope="col">Vacina</th>
      <th class="text-center" scope="col">Alimentacao</th>
      <th class="text-center" scope="col">Observacao</th>
    </tr>
  </thead>
  <tbody>
     {{#each lista}}
     <tbody>
       <tr>
        <td class="text-center"> {{nome}}  </td> 
        <td class="text-center"> {{idade}}  </td> 
        <td class="text-center"> {{tipo}}  </td> 
        <td class="text-center"> {{raca}}</tdclass=> 
        <td class="text-center"> {{remedios}}  </td> 
        <td class="text-center"> {{vacina}}  </td> 
        <td class="text-center"> {{alimentacao}}  </td> 
        <td class="text-center"> {{observacao}}  </td> 
        <td class="text-center"> <a href="/edicao/pet/{{_id}}"> <span class="material-symbols-outlined">edit </span> </a></td> 
        <td class="text-center"> <a class="text-danger" href="/deletar/pet/{{_id}}"><span class="material-symbols-outlined">delete</span></a></td>
      </tr>
     {{/each}}
    </tbody>
</table>


</section>

