

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href="/principal/" class="navbar-brand"> <span class="material-symbols-outlined">home</span></a>
    <form class="d-flex" role="search" method="get" >
      <input class="form-control me-2" type="search" name="pesquisar" placeholder="nome do pet" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>

  </div>
</nav>

  <div class="responsive-table">
<table class="table my-2 ">
    <tr class="table-warning" >
      <th class="text-center" scope="col">Nome do Dono</th>
      <th class="text-center" scope="col">Nome do Pet</th>
      <th class="text-center" scope="col">idade</th>
      <th  class="text-center" scope="col">Tipo</th>
      <th class="text-center" scope="col">Raca</th>
      <th class="text-center" scope="col">Remedios</th>
      <th class="text-center" scope="col">Vacina</th>
      <th class="text-center" scope="col">Alimentacao</th>
      <th class="text-center" scope="col">Observacao</th>
    </tr>
  </thead>
  <tbody>
     {{#each lista}}
     <tbody>
       <tr>
        <td class="text-center"> {{usuario.primeiroNome}}  </td> 
        <td class="text-center"> {{nome}}  </td> 
        <td class="text-center"> {{idade}}  </td> 
        <td class="text-center"> {{tipo}}  </td> 
        <td class="text-center"> {{raca}}</tdclass=> 
        <td class="text-center"> {{remedios}}  </td> 
        <td class="text-center"> {{vacina}}  </td> 
        <td class="text-center"> {{alimentacao}}  </td> 
        <td class="text-center"> {{observacao}}  </td> 
        <td class="text-center"> <a href="/edicao/pet/{{_id}}"> <span class="material-symbols-outlined">edit </span> </a></td> 
        <td class="text-center"> <a id="excluir" class="text-danger" href="/deletar/pet/{{_id}}"><span class="material-symbols-outlined">delete</span></a></td>
      </tr>
     {{/each}}
    </tbody>
</table>




