

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href="/principal/" class="navbar-brand"> <span class="material-symbols-outlined">home</span></a>
    <form class="d-flex" role="search" method="get" >
      <input class="form-control me-2" type="search" name="pesquisar" placeholder="nome do Veterinario" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

  <div class="responsive-table">
<table class="table my-2 ">
    <tr class="table-warning" >
      <th class="text-center" scope="col">Nome </th>
      <th class="text-center" scope="col">Idade</th>
      <th class="text-center" scope="col">Email</th>
      <th class="text-center" scope="col">Telefone</th>
      <th  class="text-center" scope="col">CRMV</th>
      <th class="text-center" scope="col">Consultorio</th>
      <th class="text-center" scope="col">Detalhes</th>
   

    </tr>
  </thead>
  <tbody>
     {{#each lista}}
     <tbody>
       <tr>
        <td class="text-center"> {{nome}}  </td> 
        <td class="text-center"> {{idade}}  </td> 
        <td class="text-center"> {{email}}  </td> 
        <td class="text-center"> {{telefone}}</tdclass=> 
        <td class="text-center"> {{crmv}}  </td> 
        <td class="text-center"> {{consultorio}} </td> 
        <td class="text-center"> {{detalhes}}  </td> 
        
        <td class="text-center"> <a href="/edicao/veterinario/{{_id}}"> <span class="material-symbols-outlined">edit</span></a></td> 
        <td class="text-center"> <a class="text-danger" href="/excluir/veterinario/{{_id}}"><span class="material-symbols-outlined">delete</span></a></td>
      </tr>
     {{/each}}
    </tbody>
</table>

