

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a href="/principal/" class="navbar-brand"> <span class="material-symbols-outlined">home</span></a>
    <form class="d-flex" role="search" method="get" >
      <input class="form-control me-2" type="search" name="pesquisar" placeholder="nome do Veterinario" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
  </div>
</nav>

  <div class="responsive-table">
<table class="table my-2 ">
    <tr class="table-warning" >
      <th class="text-center" scope="col">Nome </th>
      <th class="text-center" scope="col">Idade</th>
      <th class="text-center" scope="col">Email</th>
      <th class="text-center" scope="col">Telefone</th>
      <th  class="text-center" scope="col">CRMV</th>
      <th class="text-center" scope="col">Consultorio</th>
   

    </tr>
  </thead>
  <tbody>
     {{#each lista}}
     <tbody>
       <tr>
        <td class="text-center"> {{nome}}  </td> 
        <td class="text-center"> {{idade}}  </td> 
        <td class="text-center"> {{email}}  </td> 
        <td class="text-center"> {{telefone}}</tdclass=> 
        <td class="text-center"> {{crmv}}  </td> 
        <td class="text-center"> {{consultorio}} </td>         
        <td class="text-center"> <a href="/edicao/veterinario/{{_id}}"> <span class="material-symbols-outlined">edit</span></a></td> 
        <td class="text-center"> <a id="excluir" class="text-danger" href="/excluir/veterinario/{{_id}}"><span class="material-symbols-outlined">delete</span></a></td>
      </tr>
     {{/each}}
    </tbody>
</table>




<script>
  const excluirLinks = document.querySelectorAll("#excluir");
  excluirLinks.forEach(link => {
    link.addEventListener("click", event => {
      event.preventDefault();
      const url = event.currentTarget.getAttribute("href"); // Obtem a URL do link de exclusão
      mostrarAlerta(url);
    });
  });

  async function mostrarAlerta(url) {
    const result = await Swal.fire({
      title: "Deseja realmente excluir os dados?",
      text: "Não será possível recuperar depois da exclusão",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Sim, excluir!"
    });

    if (result.isConfirmed) {
      excluirDados(url);
    }
  }

  async function excluirDados(url) {
    try {
      const response = await axios.delete(url);
      const veterinario = response.data
      if (response.status === 200) {
        await Swal.fire("Excluído!", `Veterinario ${veterinario.nome} excluido com sucesso`, "success");
        carregarPagina();
      } else {
        throw new Error("Ocorreu um erro ao excluir o registro.");
      }
    } catch (error) {
      console.error(error);
      Swal.fire("Erro", error.message, "error");
    }
  }

  function carregarPagina() {
    // Força o recarregamento da página após 1500ms (1.5 segundos)
    setTimeout(() => window.location.reload(), 1500);
  }
</script>